{% extends './base.html' %}
{% block content %} 

{% if error %}
{{ error }}

<br/>
<br/>
{% endif %}

<a class="btn-lg btn-danger" href="{% url 'accounts:signup' %}">Singup</button></a>
<h1>Login!</h1>

<form method = "POST" action="{% url 'accounts:login' %}">
    {% csrf_token %}
    username:
    <br/>
    <input type="text" name="username" />
    <br/>
    Password:
    <br/>
    <input type="password" name="password" />
    <br/>
    <input class ="btn btn-primary" type="submit" value= "Login" />
    <br/>
    
</form>

{% endblock %}